@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Nunito', sans-serif;
}
.authLayout{
  background: url("./assets/auth-background.png") no-repeat center;
  width: 50vw;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .authLayout-OutletSection{
    width: 100%;
    flex-direction: column;
  }
}